<section class="hero sign-in is-fullheight is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="card">
                        <div class="card-content">
                            <form (ngSubmit)="submit()" #formSignIn="ngForm" novalidate>
                                <div class="field">
                                    <h1 class="title has-text-grey-dark">
                                        Dashboard
                                    </h1>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="text" placeholder="Email" [(ngModel)]="username" name="username">
                                        <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="password" placeholder="Password" [(ngModel)]="password" name="password">
                                        <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <button class="button is-primary" [ngClass]="{'is-loading':load}">
                                            <span class="icon"><i class="fa fa-sign-in"></i></span>
                                            <span>Sign in</span>
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>