<div *ngIf="!post" class="icon w-100 my-3">
    <i class="fa fa-refresh fa-spin fa-3x"></i>
</div>
<div *ngIf="post">
    <div class="card">
        <div class="card-content">
            <div class="columns m-0 is-vcentered">
                <div class="column p-0">
                    <h1 class="title">{{'#' + post.id + ' - ' + post.title}}</h1>
                </div>
                <div class="column p-0 is-narrow">
                    {{post.date | date:'dd/MM/yyyy'}}
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <div [innerHTML]="post.content"></div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <a class="button is-warning" routerLink="/post">
                        <span class="icon"><i class="fa fa-angle-double-left"></i></span>
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>