<div *ngIf="!posts" class="icon w-100 my-3">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
</div>
<div *ngIf="posts" class="card">
    <div class="card-content">
        <div class="field">
            <a class="button is-link" routerLink="new">
                <i class="fa fa-fw fa-plus"></i>New Post</a>
        </div>
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>AUTOR</th>
                    <th>SITUAÇÃO</th>
                    <th>TÍTULO</th>
                    <th>DATA</th>
                    <th>AÇÃO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts">
                    <td>{{ post.id }}</td>
                    <td>{{ post.user_id }}</td>
                    <td>{{ post.situation_id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.date | date:'dd/MM/yyyy' }}</td>
                    <td>
                        <a class="button is-outlined is-small is-info" [routerLink]="['view', post.id]">
                            <i class="fa fa-fw fa-eye"></i></a>
                        <a class="button is-outlined is-small is-success mx-2" [routerLink]="['edit', post.id]">
                            <i class="fa fa-fw fa-pencil"></i></a>
                        <a class="button is-outlined is-small is-danger">
                            <i class="fa fa-fw fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>