<app-navbar *ngIf="(authenticated | async)"></app-navbar>
<section class="columns m-0">
    <aside *ngIf="(authenticated | async)" class="menu column is-2 is-narrow is-hidden-touch pr-0">
        <ul class="menu-list">
            <li>
                <a routerLink="/">
                    <span class="icon"><i class="fa fa-home"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/post">
                    <span class="icon"><i class="fa fa-th-list"></i></span>
                    <span>Posts</span>
                </a>
            </li>
            <li>
                <a routerLink="/tag">
                    <span class="icon"><i class="fa fa-tag"></i></span>
                    <span>Tags</span>
                </a>
            </li>
        </ul>
    </aside>
    <div class="column">
        <div class="notification is-{{class}}" *ngIf="message">
            <button class="delete" (click)="clear()"></button>
            {{message}}
        </div>
        <router-outlet (activate)="clear()"></router-outlet>
    </div>
</section>