<div *ngIf="!tag" class="icon w-100 my-3">
    <i class="fa fa-refresh fa-spin fa-3x"></i>
</div>
<div *ngIf="tag">
    <div class="card">
        <div class="card-content">
            <form (ngSubmit)="submit()" #form="ngForm">
                <h1 class="title">New Tag</h1>
                <hr>
                <div class="columns">
                    <div class="column is-8">
                        <div class="field required">
                            <label class="label">Description</label>
                            <div class="control">
                                <input class="input" type="text" name="description" autocomplete="off" [(ngModel)]="tag.description" required>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field required">
                            <label class="label">Situation</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="situation" [(ngModel)]="tag.situation" required>
                                        <option [value]="'A'">Active</option>
                                        <option [value]="'I'">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="columns is-vcentered">
                    <div class="column is-narrow">
                        <button type="submit" class="button is-success mr-2" [disabled]="form.invalid">
                            <span class="icon"><i class="fa fa-save"></i></span>
                            <span>Save</span>
                        </button>
                        <a class="button is-warning" routerLink="/tag">
                            <span class="icon"><i class="fa fa-angle-double-left"></i></span>
                            <span>Back</span>
                        </a>
                    </div>
                    <div class="column">
                        <span class="has-text-danger" *ngIf="form.invalid">Preencha todos os campos obrigatórios!</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>